<main>
	<table-example></table-example>
	<p>
		For even more detail, take a look at this page's
		<a href="https://github.com/stevenvachon/can-transition/tree/gh-pages/">source code</a>.
	</p>
</main>

<footer>
	Created in <time datetime="2014-01">January 2014</time> by <a href="http://www.svachon.com/">Steven Vachon</a>.
</footer>